<a href="https://colab.research.google.com/github/Narmadakumbhkar/pandas/blob/main/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#series object is one-dimensional labeled array

import pandas as pd

In [ ]:
import pandas as pd
a=pd.Series([1,2,3,4])
a

0    1
1    2
2    3
3    4
dtype: int64

In [ ]:
type(a)

pandas.core.series.Series

In [ ]:
import pandas as pd
s=pd.Series([1,2,3,4,5],index=['a','b','c','d','e'])
s

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [ ]:
import pandas as pd
r=pd.Series([10,20,30,40,50],index=['A','B','C','D','E'])
r

A    10
B    20
C    30
D    40
E    50
dtype: int64

In [ ]:
import pandas as pd
pd.Series({'a':10,'b':20,'c':30})

a    10
b    20
c    30
dtype: int64

In [ ]:
import pandas as pd
pd.Series({'p':10,'q':20,'r':30},index=['p','q','s','r','t'])

p    10.0
q    20.0
s     NaN
r    30.0
t     NaN
dtype: float64

In [ ]:
# extracting a single element
a=pd.Series([1,2,3,4,5,6,7,8,9])
a[3]

4

In [ ]:
b=pd.Series([10,20,30,40,50,60,70])
b[:4]

0    10
1    20
2    30
3    40
dtype: int64

In [ ]:
b=pd.Series([10,20,30,40,50,60,70])
b[4:]

4    50
5    60
6    70
dtype: int64

In [ ]:
c=pd.Series([1,2,3,4,5,6,7,8,9])
c[-4:]

5    6
6    7
7    8
8    9
dtype: int64

In [ ]:
import pandas as pd
l1=[1,2,3,4,5,6,7,8,9]
s1=pd.Series(l1)
s1

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
dtype: int64

In [ ]:
s1[4]

5

In [ ]:
s1[:5]

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [ ]:
s1[-5:]

4    5
5    6
6    7
7    8
8    9
dtype: int64

In [ ]:
#Basic math operations on series
## Adding a scalar value to series element

s1=pd.Series([1,2,3,4,5,6,7,8,9])
s1+5

0     6
1     7
2     8
3     9
4    10
5    11
6    12
7    13
8    14
dtype: int64

In [ ]:
# Adding two series objects

s1=pd.Series([1,2,3,4,5,6,7,8,9])
s2=pd.Series([10,20,30,40,50,60,70,80,90])
s1+s2

0    11
1    22
2    33
3    44
4    55
5    66
6    77
7    88
8    99
dtype: int64

In [ ]:
s1=pd.Series([1,2,3,4,5,6,7,8,9])
s2=pd.Series([10,20,30,40,50,60,70,80,90,100])
s1+s2

0    11.0
1    22.0
2    33.0
3    44.0
4    55.0
5    66.0
6    77.0
7    88.0
8    99.0
9     NaN
dtype: float64

In [ ]:
import pandas as pd
s1

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
dtype: int64

In [ ]:
s1+10

0    11
1    12
2    13
3    14
4    15
5    16
6    17
7    18
8    19
dtype: int64

In [ ]:
s1-5

0   -4
1   -3
2   -2
3   -1
4    0
5    1
6    2
7    3
8    4
dtype: int64

In [ ]:
s1*5

0     5
1    10
2    15
3    20
4    25
5    30
6    35
7    40
8    45
dtype: int64

In [ ]:
s1/2

0    0.5
1    1.0
2    1.5
3    2.0
4    2.5
5    3.0
6    3.5
7    4.0
8    4.5
dtype: float64

In [ ]:
##(2)= Dataframe is a 2-multi-dimensional labelled data-structure
# creating a dataframe

import pandas as pd
pd.DataFrame({'Name':['Bob','Sam','Anne','Nikku'],'Marks':[76,25,92,70]})

    Name  Marks
0    Bob     76
1    Sam     25
2   Anne     92
3  Nikku     70

In [ ]:
import pandas as pd
n1=pd.DataFrame({"items":['apple','graps','orange','banana'],"Rate":[70,40,35,20],"month":['january','may','june','august']})
n1

    items  Rate    month
0   apple    70  january
1   graps    40      may
2  orange    35     june
3  banana    20   august

In [ ]:
##Dataframe in-Built finctions
#(1)=head(),(2)=tail(),(3)=shape(),(4)=describe()

In [ ]:
import pandas as pd
iris=pd.read_csv('/content/drive/MyDrive/Colab Notebooks/dataset/Iris.csv')
iris.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [ ]:
iris.tail()

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [ ]:
iris.shape

(150, 6)

In [ ]:
iris.describe()

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  150.000000     150.000000    150.000000     150.000000    150.000000
mean    75.500000       5.843333      3.054000       3.758667      1.198667
std     43.445368       0.828066      0.433594       1.764420      0.763161
min      1.000000       4.300000      2.000000       1.000000      0.100000
25%     38.250000       5.100000      2.800000       1.600000      0.300000
50%     75.500000       5.800000      3.000000       4.350000      1.300000
75%    112.750000       6.400000      3.300000       5.100000      1.800000
max    150.000000       7.900000      4.400000       6.900000      2.500000

In [ ]:
iris.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [ ]:
iris.iloc[5:11,2:]

    SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
5            3.9            1.7           0.4  Iris-setosa
6            3.4            1.4           0.3  Iris-setosa
7            3.4            1.5           0.2  Iris-setosa
8            2.9            1.4           0.2  Iris-setosa
9            3.1            1.5           0.1  Iris-setosa
10           3.7            1.5           0.2  Iris-setosa

In [ ]:
iris.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [ ]:
import pandas as pd
iris=pd.read_csv('/content/NARMADA.csv')
iris

    Number     Name  MARKS GENDER  PERCENT
0        1    nikku     45      F       69
1        2   prachi     56      F       57
2        3    sanya     75      F       86
3        4   princi     63      F       87
4        5    geeta     45      F       57
5        6    rahul     62      M       64
6        7    rohit     54      M       47
7        8    aarun     72      M       65
8        9    reenu     65      F       87
9       10  narmada     77      F       67
10      11    swati     88      F       83
11      12   tirath     99      M       65
12      13  deepika     67      F       82
13      14    neelu     85      F       64
14      15   sanjna     63      M       82
15      16   shudha     67      M       74
16      17   sanjay     69      M       74
17      18  shourab     70      M       84
18      19    vikas     89      M       67
19      20   sachin     82      M       67